.warna{
    color: tomato;
    font-weight: bold;
    font-style: 24px;
}

.kotak1{
    width: 500px;
    border: 3px solid tomato;
    background: #2d2d2d;
    color: #ffffff;
}

.kotak2{
    width: 500px;
    border: 3px solid aqua;
    background: #2d2d2d;
    color: #ffffff;
}

.intro{
    height: 100vh;
    background-image: url('../assets/images/bg/main.webp');
    background-attachment: fixed;
    background-size: cover;
}

.trending{
    background-image: url('../assets/images/trending/trending.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.superhero{
    background-image: url('../assets/images/superhero/superhero.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.tombol{
    position: fixed;
    bottom: 50px;
    right: 50px;
}